body{
	background: white;
}

h1 {
		font-family: "Helvetica", Arial Rounded MT Bold, monospace;
		background: pink;
		color: white;
		font-style: italic;
		font-size: 40px;
		line-height: 1em
	}

p {
		font-family: "Helvetica", monospace;
		font-size: 17px;
		line-height: 1em;
	}
a {
	background-color: green;
	border: none;
	color: white;
	padding: 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	margin: 5px 2px;
	cursor: pointer;
}

a:hover {
	transform: scale(1.5);
	box-shadow: 0px 0px 20px #000000;
}

div.output {
	font-family: "Helvetica";
	font-style: bold;
	font-size: 20px;
	line-height: 2em;
	margin-right: 45px;
}


ul {
	list-style-type: none;
}