
body {
		background-color: white;
		font-family: "Consolas";
		/*color: #181cff;*/
		font-size: 20px;
		/*text-decoration: underline;*/
		line-height: 2em
	}
div {
	display: block;
}

.title {
	color: #181cff;
	width: 100%;
	text-align: center;
	margin: auto;
	position: fixed;
	top: 20px;
	z-index: 5000;
}

.message {
	color: #181cff;
	position: fixed;
	top: 20px;
	left: 20px;
	z-index: 5000;
}

.about {
	color: #181cff;
	position: fixed;
	top: 20px;
	right: 20px;
	z-index: 5000;
}
.box {
	font-family: "Calibri";
	color: black;
	font-size: 13px;
	position: absolute;
	width: 400px;
	left: 50%;
	margin-left: -192px;
	margin-top: 55px;
	text-align: center;
	line-height: 1em;
}

a{
	padding: 40px;
	line-height: 2em
	color: #181cff;
}
a:visited{
	color: #181cff;
}
a:hover{
	color: pink;
	text-decoration: none;
}

.paragraph{
	font-family: "Consolas"
	color: black;
	font-size: 15px;
	position: absolute;
	/*text-align: center;*/
	margin: 0px auto;
	margin-left: 100px;
	margin-right: 100px;
}
.box2{
	position: absolute;
	margin: 0px auto;
	text-align: center;
	margin-left: 290px;
	margin-right: 250px;
}

#audio {
	position: absolute;
	margin: 0px autio;
	margin-left: 480px;
	margin-right: 250px;
}
















